body {
  background: url(https://img.freepik.com/premium-vector/weather-forecast-thin-line-seamless-pattern-background-white-include-sun-temperature-storm-cloud-rain-snow-thunderstorm-wind-vector-illustration_287964-3787.jpg?semt=ais_hybrid&w=740&q=80);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  height: 100vh;
  width: auto;
  gap: 30px;
}

.weather-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 350px;
  border: 2px solid rgb(162, 212, 235);
  border-radius: 13px;
  padding: 36px;
}

.city {
  color: black;
}

.temperature {
  color: green;
}

.condition {
  color: black;
  text-transform: capitalize;
}

.choice {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  background-color: rgb(255, 255, 255, 0.9);
  width: 100%;
  padding: 16px 36px 16px 36px;
  border: 2px solid rgb(162, 212, 235);
  border-radius: 8px;
}

.button {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 8px;
}
